<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Listado de pacientes</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Informacion de contacto</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of listado">
                    <th scope="row">{{p.id}}</th>
                    <td>{{p.nombre}}</td>
                    <td>{{p.fechaNacimiento}}</td>
                    <td>{{p.genero}}</td>
                    <td>{{p.telefono}} + "  " + {{p.correoElectronico}}</td>
                    <td>
                        <a href="" class="btn btn-success">Detalle</a>
                    </td>
                    <td>
                        <a href="" class="btn btn-primary">Editar</a>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger">Eliminar</a>
                    </td>
                    <td>
                        <a href="" class="btn btn-warning">Ver ventas</a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

