
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>detalle Paciente</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <div class="list-group">
                    <li class="list-group-item"><strong> ID </strong>{{paciente.id}}      </li>
                    <li class="list-group-item"><strong> Nombre </strong>{{paciente.nombre}}      </li>
                    <li class="list-group-item"><strong> Paterno </strong>{{paciente.fechaNacimiento}}      </li>
                    <li class="list-group-item"><strong> Materno </strong>{{paciente.genero}}      </li>
                    <li class="list-group-item"><strong> Correo </strong>{{paciente.telefono}}      </li>
                    <li class="list-group-item"><strong> Telefono </strong>{{paciente.correoElectronico}}      </li>
                </div>
            </div>
        </div>
    </div>
</div>