<div class="conteiner">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Formulario alta medicos</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" name="" id="" class="form-control" #nombre>
            </div>

            <div class="form-group">
                <label for="genero">Especialidad:</label>
                <select #select_especialidad class="custom-select">
                    <option *ngFor="let esp of especialidad" [value]="esp">{{esp}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="genero">Género:</label>
                <select #select_genero class="custom-select">
                    <option *ngFor="let gen of genero" [value]="gen">{{gen}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Horario</label>
                <input type="text" name="" id="" class="form-control" #horario>
            </div>
            
            <div class="form-group">
               <button class="btn btn-success" (click)="guardarMedicos()">Guardar</button>
            </div>

        </div>
    </div>
</div>